html {box-sizing: border-box;}
*,*::before, *::after{box-sizing: inherit;}
.container{width:85%; margin:0 auto; font-size:clamp(80%, 2vw, 90%); 
    margin-bottom: 5%; text-align: justify; padding:0 1rem;}
h1{color: rgb(251, 255, 0); text-align: center; border:3px solid black;
    background-color:rgb(40, 40, 219);}
body{background-color: rgb(56, 147, 226); max-width: 100%}
h2{ color:rgb(8, 9, 85); text-align: center; font-size:200% ;}
#to{font-size: 150%; color: black; text-decoration:black underline; display:block;
text-align: center;}     
.ball{color:rgb(4, 107, 4); font-size: 150%;}
h3{font-size:clamp(2.2em,2.5vw,3em); text-align: center; border: 3px solid black; background-color:rgb(28, 28, 223) ;
    color:rgb(251, 255, 0); }
#u{text-decoration: dashed underline rgb(15, 15, 2); color:rgb(40, 40, 219); font-weight: 550;}
button{border:3px solid; font-weight: 550; text-align: center; font-size: clamp(1rem, 2vw, 1.5rem);}
.flex{display: flex; flex-direction: row; justify-content: space-evenly;}
#home{background-color: #a1721b;} 
#col{background-color:rgb(40, 40, 219) ;}
#contacts{background-color:rgb(14, 122, 20);}
@media(max-width:480px){.container{width: 100%; font-size: 70%;}#u{color:rgb(28, 28, 223); font-weight:650;}.flex{margin-bottom: 10%;}
#col{margin-left: 5%;}#contacts{margin-left: 15%;} button{border-radius: 20%; font-weight: 800;}} 