img{display: block; margin-left: 21%;}  
body{margin-bottom:3%;background-color: #d88e04; font-size: 150%;}
h1{background-color: rgb(4, 49, 172); border: 3px solid; text-align: center;}
h2{text-align:center; background-color: rgb(124, 6, 124); border:3px solid black ; }
p{margin-left: 4%; text-align: justify;}
#go{font-size: 150%;border:3px solid black; background-color:rgb(124, 6, 124) ; color:black; text-align: center;margin-left: 10%; margin-right: 10%;}
ol{margin-left: 3%; font-size: 130%;}
button{font-size: 120%; background-color: rgb(6, 168, 19);margin-left: 20%;}